@font-face {
  font-family: sans-serif;
}

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 90% Arial, Helvetica, sans-serif;
  color: #000;
}

/* tell the browser to render HTML 5 elements as block */
article, aside, figure, footer, header, hgroup, nav, section {
  display:block;
}

p
{ padding: 0 0 10px 0;
  line-height: 1.7em;}

  img
  { border: 10;}

  h1,h2
  { font: normal 300% 'News Cycle', Arial, sans-serif;
    color: #000;
    letter-spacing: -1px;
    margin: 0 0 10px 0;}

  h3
  { font: normal 130% 'News Cycle', Arial, sans-serif;}

  h4, h5, h6
  { margin: 0;
    padding: 0 0 0px 0;
    font: normal 150% 'News Cycle', Arial, sans-serif;
    color: #FFF;
    line-height: 1.5em;}

    span
    { color: #B1521A;
      text-shadow: none;}

      a, a:hover
      { color: #000;
        background: transparent;
        font-weight: bold;
        outline: none;
        text-decoration: underline;}

        a {
            background-color: transparent;}

ul
{ margin: 2px 0 22px 30px;
  line-height: 1.7em;
  font-style: normal;
  font-size: 100%;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, header, #banner, #menubar, #site_content, footer, #content_grey, nav, section
{ margin-left: auto;
  margin-right: auto;
 display: block;}

#main
{ background: transparent;}

header
{ height: 150px;
  background: #1D1D1D;}

  header .headline {
      padding: 120px 0;
  }

#banner
{ width: 940px;
  position: relative;
  height: 50px;
  padding: 15px 0 0 0;}

nav
{ height: 50px;}

#menubar
{ width: 1400px;
  height: 40px;
  text-align: center;
  margin: 0 auto;}

#welcome
{ width: 940px;
  float: center;
  height: 50px;
  margin: 0 auto;}

  #welcome_slogan
  { width: 940px;
    float: center;
    height: 50px;
    padding-top: 10px;
    margin: 0 auto;}

#welcome H1
{ font: normal 400% 'News Cycle', Arial, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #000;
  color: #FFF;
  text-align: center;}

#welcome_slogan H1
{ font: normal 300% 'News Cycle', Arial, sans-serif;
  letter-spacing: -2px;
  text-shadow: 1px 1px #000;
  color: #FFF;
  text-align: center;}

ul#nav
{ margin:0;}

ul#nav li
{ padding: 0 0 0 0px;
  list-style: none;
  margin: 2px 0 0 0;
  display: inline;}

ul#nav li a
{ float: left;
  font: bold 90% sans-serif;
  height: 24px;
  margin: 10px 0 0 20px;
  text-shadow: 0px -1px 0px #000;
  padding: 6px 20px 0 20px;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  text-align: center;
  text-decoration: none;}

ul#nav li.current a, ul#nav li:hover a
{ color: #333;
background: #FFF;}

#site_content
  { width: 940px;
    overflow: hidden;}

#content
{ width: 900px;
  margin: 0 0 20px 20px;
  float: left;}

.content_item
{ width: 900px;
  margin-bottom: 20px;}

.content_imagetext
{ width: 890px;
  padding: 5px;
  margin: 20px 0 0 0;
  float: left;}

.content_image
{ float: left;
  width: 300px;
  height: 150px;
  margin: 0 20px 10px 0;
  padding: 10px;
  -moz-box-shadow:    inset 0 0 20px #ADADAD;
  -webkit-box-shadow: inset 0 0 20px #ADADAD;
  box-shadow:         inset 0 0 20px #ADADAD;}

.content_container
{ width: 275px;
  padding: 5px;
  margin: 10px 10px 20px 0;
  float: left;}

footer
{ width: 940px;
  height: 50px;
  font-weight: bold;
  text-align: center;
  background: transparent;}

footer a, footer a:hover
{ text-decoration: none;
  padding-bottom: 20px;}

footer a:hover
{ text-decoration: underline;}

 .button_small
{ font: normal 110% Arial, Helvetica, sans-serif;
  width: 80px;
  padding: 5px 2px 7px 2px;
  background: #CCC;
  background: -moz-linear-gradient(#FFF, #BBB);
  background: -o-linear-gradient(#FFF, #BBB);
  background: -webkit-linear-gradient(#FFF, #BBB);
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;}

.button_small a
{ color: #000;
  text-shadow: 1px 1px #FFF;
  padding-left: 5px;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left;
  width: 280px;
  text-align: left;
  text-shadow: none;
  color: #FFF;
  text-shadow: 1px 1px #000;}

.form_settings input, .form_settings textarea
{ padding: 2px;
  width: 299px;
  font: 100% arial;
  border: 1px solid #E5E5DB;
  background: #FFF;
  color: #47433F;}

.form_settings input[type="checkbox"]
{ padding: 2px 0;
  width: 15px;
  font: 100% arial;
  border: 0;
  background: #FFF;
  color: #47433F;
  margin: 28px 0;}

.form_settings .submit
{ font: 100% arial;
  border: none;
  width: 99px;
  margin: 0 0 0 206px;
  height: 26px;
  padding: 2px 0 3px 0;
  cursor: pointer;
  background: #CCC;
  background: -moz-linear-gradient(#FFF, #BBB);
  background: -o-linear-gradient(#FFF, #BBB);
  background: -webkit-linear-gradient(#FFF, #BBB);
  color: #000;
  text-shadow: 1px 1px #FFF;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;}

.slideshow
{  width: 350px;
  height: 350px;
  margin-left: 300px;}

/* styling for the slideshow on the homepage */
ul.slideshow {
  list-style: none;
  width: 350px;
  height: 350px;
  overflow: hidden;
  position: center;
  margin: 20px 0 0 0;}

ul.slideshow li {
  position: center;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}

ul.slideshow li.show {
  z-index: 500;}

ul img {
  border: none;}

#slideshow-caption {
  width: 500px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 500;}

#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px;
  background: transparent url(../images/transparent.png) repeat;
  z-index: 1000;}

#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;
  text-shadow: 1px 1px #000;}
